In [59]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2
# 多行输出
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## 生成表格
- 生成一个表格形式的结果

In [60]:
import pandas as pd
import numpy as np
import scipy.io as sio

In [61]:
cols = ['noise_var', 'term', 'true_coef', 'FROLS_mean', 'FROLS_var', 'FROKF_mean', 'FROKF_var']
linear_ret5 = pd.DataFrame(columns=cols)
nonlinear_ret5 = pd.DataFrame(columns=cols)
linear_ret10 = pd.DataFrame(columns=cols)
nonlinear_ret10 = pd.DataFrame(columns=cols)

- 候选项

In [62]:
con_terms_linear5 = ['x1(t-1)', 'x1(t-2)', 'x1(t-2)', 'x1(t-3)', 'x1(t-2)', 'x4(t-1)', 'x5(t-1)', 'x4(t-1)', 'x5(t-1)']  # 9
con_terms_nonlinear5 = ['x1(t-1)', 'x1(t-2)*x1(t-2)', 'x1(t-2)', 'x1(t-3)', 'x1(t-2)*x1(t-2)', 'x4(t-1)', 'x5(t-1)', 'x4(t-1)', 'x5(t-1)']  # 9
true_coefs5 = [0.95*np.sqrt(2), -0.9025, 0.5, -0.4, -0.5, 0.25*np.sqrt(2), 0.25*np.sqrt(2), -0.25*np.sqrt(2), 0.25*np.sqrt(2)]  # 9
con_terms_linear10 = ['x1(t-1)', 'x1(t-2)', 'x1(t-2)', 'x2(t-3)', 'x1(t-2)', 'x4(t-4)', 'x9(t-2)', 'x4(t-4)', 'x1(t-1)', 'x1(t-2)', 'x7(t-2)', 
                      'x8(t-3)', 'x9(t-3)', 'x8(t-3)', 'x9(t-3)', 'x7(t-4)']  # 16
con_terms_nonlinear10 = ['x1(t-1)', 'x1(t-2)', 'x1(t-2)*x1(t-10)', 'x2(t-3)', 'x1(t-2)', 'x4(t-4)', 'x9(t-2)', 'x4(t-4)', 'x1(t-1)*x1(t-10)', 'x1(t-2)', 'x7(t-2)', 
                      'x8(t-3)', 'x9(t-3)', 'x8(t-3)', 'x9(t-3)', 'x7(t-4)']  # 16
true_coefs10 = [0.95*np.sqrt(2), -0.9025, 0.5, 0.9, -0.5, 0.8, -0.4, -0.8, 0.4, -0.4, -0.9, 0.4, 0.3, -0.3, 0.4, -0.75]  # 16
noises = np.linspace(0.5, 4, 8)
con_terms5 = [2, 1, 1, 3, 2]
con_terms10 = [2, 1, 1, 1, 2, 1, 2, 3, 2, 1]

### 5 通道

- 行数 8 种噪音 * 9 候选项 = 72

In [63]:
linear_ret5['noise_var'] = np.hstack([[noises[i]] * 9 for i in range(8)])
linear_ret5['term'] = np.hstack(con_terms_linear5 * 8)
linear_ret5['true_coef'] = np.hstack(true_coefs5 * 8)
nonlinear_ret5['noise_var'] = np.hstack([[noises[i]] * 9 for i in range(8)])
nonlinear_ret5['term'] = np.hstack(con_terms_nonlinear5 * 8)
nonlinear_ret5['true_coef'] = np.hstack(true_coefs5 * 8)

In [64]:
linear_ret5.sample(5)

    noise_var     term  true_coef FROLS_mean FROLS_var FROKF_mean FROKF_var
68        4.0  x4(t-1)   0.353553        NaN       NaN        NaN       NaN
8         0.5  x5(t-1)   0.353553        NaN       NaN        NaN       NaN
69        4.0  x5(t-1)   0.353553        NaN       NaN        NaN       NaN
39        2.5  x1(t-3)  -0.400000        NaN       NaN        NaN       NaN
22        1.5  x1(t-2)  -0.500000        NaN       NaN        NaN       NaN

In [65]:
nonlinear_ret5.sample(5)

,noise_var,term,true_coef,FROLS_mean,FROLS_var,FROKF_mean,FROKF_var
31,2.0,x1(t-2)*x1(t-2),-0.500000,NaN,NaN,NaN,NaN
66,4.0,x1(t-3),-0.400000,NaN,NaN,NaN,NaN
45,3.0,x1(t-1),1.343503,NaN,NaN,NaN,NaN
57,3.5,x1(t-3),-0.400000,NaN,NaN,NaN,NaN
52,3.0,x4(t-1),-0.353553,NaN,NaN,NaN,NaN

### 10 通道
- 行数 8 种噪音 * 16 候选项 = 128

In [66]:
linear_ret10['noise_var'] = np.hstack([[noises[i]] * 16 for i in range(8)])
linear_ret10['term'] = np.hstack(con_terms_linear10 * 8)
linear_ret10['true_coef'] = np.hstack(true_coefs10 * 8)
nonlinear_ret10['noise_var'] = np.hstack([[noises[i]] * 16 for i in range(8)])
nonlinear_ret10['term'] = np.hstack(con_terms_nonlinear10 * 8)
nonlinear_ret10['true_coef'] = np.hstack(true_coefs10 * 8)

In [67]:
linear_ret10.sample(5)

     noise_var     term  true_coef FROLS_mean FROLS_var FROKF_mean FROKF_var
39         1.5  x4(t-4)  -0.800000        NaN       NaN        NaN       NaN
54         2.0  x9(t-2)  -0.400000        NaN       NaN        NaN       NaN
16         1.0  x1(t-1)   1.343503        NaN       NaN        NaN       NaN
34         1.5  x1(t-2)   0.500000        NaN       NaN        NaN       NaN
114        4.0  x1(t-2)   0.500000        NaN       NaN        NaN       NaN

In [68]:
nonlinear_ret10.sample(5)

,noise_var,term,true_coef,FROLS_mean,FROLS_var,FROKF_mean,FROKF_var
65,2.5,x1(t-2),-0.9025,NaN,NaN,NaN,NaN
107,3.5,x8(t-3),0.4000,NaN,NaN,NaN,NaN
25,1.0,x1(t-2),-0.4000,NaN,NaN,NaN,NaN
82,3.0,x1(t-2)*x1(t-10),0.5000,NaN,NaN,NaN,NaN
113,4.0,x1(t-2),-0.9025,NaN,NaN,NaN,NaN